@model S.I_AgenciaViajes.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTurista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTurista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadTuristas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadTuristas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoViaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoViaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprobantePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprobantePago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
